body{
    background-color: black;
    color: #F6F6F6;  
}
span{
    color:#22D4FD;
}

img{
    height: 400px;
    width: 300px;
    border-radius: 15px   
}
a{
    background-color: #22D4FD;
    border: solid #22D4;
    padding: 10px;
    border-radius: 10px;
}